<div class="copy">
  <div class="container">
    <a href="https://www.fhcsh.com/">2022 &copy; All Rights Reserved |
      Designed and Developed by AFS system</a>

    <span>
      <a href="https://github.com/YitayalT"><i class="fab fa-github"></i></a>
      <a href="http://www.linkedin.com/in/animaw-yitayal-994a35211/"> <i class="fab fa-google-plus-g"></i></a>
      <a><i class="fab fa-pinterest-p"></i></a>
      <a href="https://twitter.com/AnimawYitayal"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/animaw.yitayal"><i class="fab fa-facebook-f"></i></a>
    </span>
  </div>

</div>