<div class="sidebar mt-5">

 <div class="sidebar-body" style="font-family: 'Times New Roman', Times, serif;">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" href="/getDelivery">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
             Delivery
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/newBorn">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
             New Born
            </div>
          </div>
        </a>
      </li>


       <li class="navigation-list-item">
        <a class="navigation-link" href="/deliveryAnc">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
             Anc History
            </div>
          </div>
        </a>
      </li>

      <li class="navigation-list-item">
        <a class="navigation-link" href="/deliveryToLab">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
             RequestToLab
            </div>
          </div>
        </a>
      </li>
 
    <li class="navigation-list-item">
        <a class="navigation-link" href="/DeliveryHistory">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
             Delivery History
            </div>
          </div>
        </a>
      </li>
 

     <li class="navigation-list-item">
        <a class="navigation-link" href="/NewBornHistory">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
           NewBorn History
            </div>
          </div>
        </a>
      </li>
     

        <li class="navigation-list-item">
        <a class="navigation-link" href="/DeliveryLabHistory">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
            Lab History
            </div>
          </div>
        </a>
      </li>

       <li class="navigation-list-item">
        <a class="navigation-link" href="/DeliveryRadHistory">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
            Radiology History
            </div>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>