<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2>About Us</h2>
        <p>
          FHCSH is a leading provider of information technology, consulting,
          and business process services. Our dedicated employees offer strategic
          insights, technological expertise and industry experience.
        </p>
        <p>We focus on technologies that promise to reduce costs, streamline
          processes and speed time-to-market, Backed by our strong quality
          processes and rich experience managing global...
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Useful Links</h2>
        <ul class="list-unstyled link-list">
          <li><a ui-sref="about" href="/aboutUs">About us</a><i
              class="fa fa-angle-right"
            ></i></li>
          {{!-- <li><a ui-sref="portfolio" href="#/portfolio">Blogs</a><i
              class="fa fa-angle-right"
            ></i></li> --}}
          <li><a ui-sref="products" href="/service">Services</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="gallery" href="/">Home</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="contact" href="/contactUs">Contact us</a><i
              class="fa fa-angle-right"
            ></i></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 map-img">
        <h2>Contact Us</h2>
        <address class="md-margin-bottom-40">
          Bahir Dar, Ethiopia
          <br />
         Shimbit Kebele 13
          <br />
          Tamil Nadu, IND
          <br />
          Phone: +251 585 567 898
          <br />
          Email:
          <a href="mailto:info@anybiz.com" class="">info@fhcsh.in</a><br />
          Web:
          <a href="smart-eye.html" class="">www.fhcsh.org</a>
        </address>

      </div>
    </div>
  </div>

</footer>