<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2>About Us</h2>
        <p>
          Smart Eye is a leading provider of information technology, consulting,
          and business process services. Our dedicated employees offer strategic
          insights, technological expertise and industry experience.
        </p>
        <p>We focus on technologies that promise to reduce costs, streamline
          processes and speed time-to-market, Backed by our strong quality
          processes and rich experience managing global...
        </p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h2>Useful Links</h2>
        <ul class="list-unstyled link-list">
          <li><a ui-sref="about" href="#/about">About us</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="products" href="#/products">Latest jobs</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i
              class="fa fa-angle-right"
            ></i></li>
          <li><a ui-sref="contact" href="#/contact">Contact us</a><i
              class="fa fa-angle-right"
            ></i></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 map-img">
        <h2>Contact Us</h2>
        <address class="md-margin-bottom-40">
          BlueDart
          <br />
          Marthandam (K.K District)
          <br />
          Tamil Nadu, IND
          <br />
          Phone: +91 9159669599
          <br />
          Email:
          <a href="mailto:info@anybiz.com" class="">info@bluedart.in</a><br />
          Web:
          <a href="smart-eye.html" class="">www.bluedart.in</a>
        </address>

      </div>
    </div>
  </div>

</footer>