
 <header>
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 nav-img">
                        <img src="/assets/images/logo.jpg" alt="">
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="/service">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>


