<div class="sidebar mt-5">

 <div class="sidebar-body" style="font-family: 'Times New Roman', Times, serif;">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" href="/hmis">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
             Clients At Wards 
            </div>
          </div>
        </a>
      </li>

       <li class="navigation-list-item">
        <a class="navigation-link" href="/hmisUser">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
             Look for Users 
            </div>
          </div>
        </a>
      </li>
    </ul>
</div>
</div>