 <div class="container-fluid p-5 mt-2">
        <div class="row">
            <div class="col-md-12">
           <div class="col-md-4"></div>
        <form id="form"  action="/deliveryToLab" method="POST">
        <h1 class="p-2" style="text-align: center ; color: rgb(41, 197, 158);">Lab request Form</h1>
        
        {{> info}}
      <div class="col-md-4">
      <label for="role" class="form-label">From</label>
      <select class="custom-select shadow-none" id="from" name="from" required>
        <option value="ANC">ANC</option>
        <option value="Delivery">Delivery</option>
        <option value="PNC">PNC</option>
      </select>
      </div>

           <div class="col-md-4">
      <label for="role" class="form-label">To:</label>
      <select class="custom-select shadow-none" id="to" name="to" required>
     
        <option value="lab">Medical-lab</option>
        <option value="radiology">Radiology</option>
      </select>
      </div>

       <div class="col-md-4">
         <label for="fullName" class="form-label">Full name</label>
        <input type="text" class="form-control shadow-none" id="fullName" name="fullName" required>
        </div>
                  <!-- mrn field -->
       <div class="col-md-4">
                    <label for="mrn" class="form-label">Medical Record Number</label>
                    <input type="text" class="form-control shadow-none" id="mrn" name="mrn">
                 
        </div>

        <div class="col-md-4">
            {{#if userID}}
                    <label for="mrn" class="form-label">UserId</label>
                    <input type="text" class="form-control shadow-none" id="userId" name="userId" value="{{userID}}" required>
           {{ else }} 
             <label for="mrn" class="form-label">UserId</label>
                    <input type="text" class="form-control shadow-none" id="userId" name="userId"  required>
           {{/if }}     
        </div>

        <div class="col-md-4">
                    <label for="mrn" class="form-label">Case</label>
                    <input type="text" class="form-control shadow-none" id="case" name="case">
                 
        </div>
                 <!-- registration date field -->
       <div class="col-md-4">
                    <label for="date_of_reg" class="form-label">Request Date:</label>
                    <input type="date" class="form-control shadow-none" id="date" name="date" required>
                 
       </div>
       <div class="col-md-4 mt-5">
                     <input type="submit"  value="SendMessage" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> 
       </div>
                  
        <div class="col-md-4"></div>
         </form>
            </div>
        </div>            
    </div>