<div class="sidebar mt-5">
   <div class="sidebar-body" style="font-family: 'Times New Roman', Times, serif;">    
    <ul class="navigation-list">

      <li class="navigation-list-item">
        <a class="navigation-link" href="/Radiology">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-address-book"></i>
            </div>
            <div class="col-9">
              Radiology Exam
            </div>
          </div>
        </a>
      </li>

      <li class="navigation-list-item">
        <a class="navigation-link" href="/radiologyHistory">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
              Radiology History
            </div>
          </div>
        </a>
      </li>
      
       <li class="navigation-list-item">
        <a class="navigation-link" href="/radiologyRequest">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
              Requests
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>