<div class="sidebar mt-5">

  <div class="sidebar-body" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" href="/addClient">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
              Add Clients
            </div>
          </div>
        </a>
      </li>

      <li class="navigation-list-item">
        <a class="navigation-link" href="/clients">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
              Clients list 
            </div>
          </div>
        </a>
      </li>

  <li class="navigation-list-item">
        <a class="navigation-link" href="/message">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
              Messages 
            </div>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>