<div class="sidebar mt-5">
  
  <div class="sidebar-body" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" href="/classifying">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
              Classifing Form
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/preventivecare">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
              Preventive Care
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/ancVisit">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-comments"></i>
            </div>
            <div class="col-9">
              Follow Up
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/setappointment">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-chart-pie"></i>
            </div>
            <div class="col-9">
              Appointment
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/videoconference">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="col-9">
              Video Conference
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/getMessage">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-address-book"></i>
            </div>
            <div class="col-9">
              Messages
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>