<div class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo-container">
      <div class="logo-container">
        {{!-- <img class="logo-sidebar" src="image/download.png" /> --}}
      </div>
      <div class="brand-name-container">
        <p class="brand-name">
          FHCSH<br />
          <span class="brand-subname">
            MHIS
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a class="navigation-link" href="/classifingform">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            <div class="col-9">
              Classifing Form
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/preventivecare">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
              Preventive Care
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/followup">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-comments"></i>
            </div>
            <div class="col-9">
              Follow Up
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/setappointment">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-chart-pie"></i>
            </div>
            <div class="col-9">
              Appointment
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/videoconference">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="col-9">
              Video Conference
            </div>
          </div>
        </a>
      </li>
      <li class="navigation-list-item">
        <a class="navigation-link" href="/messages">
          <div class="row">
            <div class="col-2">
              <i class="fas fa-address-book"></i>
            </div>
            <div class="col-9">
              Messages
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>