 
 {{> header }}

 <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>About Felege Hiwot Comprehensive Specialized Hospital</h2>
                        
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
    

   
 <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="image/Boehme.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to  FHCSH </h2>
                            <p>
                                Felege Hiwot Referral Hospital, Bahir Dar, North West Ethiopia. It is located 563 Kms far from Addis Ababa. Felege Hiwot referral hospital officially commenced its function in 1963 and currently it delivers health care services with medical, surgical, gynecological, orthopedic, intensive care units, paediatrics and ophthalmological wards with a total of 375 beds and 561 staffs. Annually, nearly 6300 neonates were seen with different health problems. The neonatal unit has 60 beds, 5 pediatricians and 20 nurses.


                            </p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
         <section class="our-team">
        <div class="container">
            <div class="inner-title">
                <h2>Physicians at FHCSH</h2>
                <p>Take a look at our innovative and experiance physicians</p>
            </div>
            <div class="row team-member">
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="assets/images/team/team-memb1.jpg">
                        </div>
                        <div class="detfs">
                            <p>Ananiya Gesesse<i> - MD</i></p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                            <br>
                            <p >5+ Years of Experiance in midwifery with good innovative Ideas</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="assets/images/team/team-memb2.jpg">
                        </div>
                        <div class="detfs">
                            <p>Chaltu Gutema<i> - Dr</i></p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                             <br>
                            <p >6+ Years of Experiance in heart surgery with good innovative Ideas</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="assets/images/team/team-memb3.jpg">
                        </div>
                        <div class="detfs">
                            <p>Solomom Maru<i> - lab</i></p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                              <br>   
                            <p >7+ Years of Experiance in Medical Lab with good innovative Ideas</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="assets/images/team/team-memb4.jpg">
                        </div>
                        <div class="detfs">
                            <p>Chaltu Gudessa<i> - MD</i></p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                             <br>   
                            <p >3+ Years of Experiance in Medical Doctor with good innovative Ideas</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- ######## About US End ####### -->

        {{> footer }}
        {{> copy }}