 <div class="page">
 {{> header}}
 {{> receptionist-sidebar}}
  <div class="content" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
  <div class="container-fluid p-5 m-2">
        {{!-- <div class="container p-5">  --}}
          <h1>Registration</h1>
          <div class="row">
          {{> info}}

         {{#if existInfo }}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{existInfo}}!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {{/if}}

   </div>
            <form id="form" class="row g-3" action="/add" method="POST">
                <div class="col-md-4">
                
                    <label for="userId" class="form-label">User Id</label>
                    <input type="text" class="form-control shadow-none" id="userId" name="userId" required>
                  {{!-- <div class="error"></div> --}}
                  </div>
                <!-- facility name field -->
                
                <div class="col-md-4">
                  <div class="input-control">
                    <label for="facility_name" class="form-label">Name of Facility</label>
                    <input type="text" class="form-control shadow-none" id="facility_name" name="facility_name" required>
                  <div class="error"></div>
                  </div>
                  </div>
                  <!-- mrn field -->
                  <div class="col-md-4">
                    <label for="mrn" class="form-label">Medical Record Number</label>
                    <input type="text" class="form-control shadow-none" id="mrn" name="mrn" required>
                 <div class="error"></div>
                  </div>
                 <!-- registration date field -->
                  <div class="col-md-4 input-control">
                    <label for="date_of_reg" class="form-label">Date of Registration</label>
                    <input type="date" class="form-control shadow-none" id="date_of_reg" name="date_of_reg" required>
                  <div class="error"></div>
                  </div>
                  <!-- first name field -->
                <div class="col-md-4">
                  <label for="fname" class="form-label">First name</label>
                  <input type="text" class="form-control shadow-none" id="fname" name="fname" required>
                </div>
                <!-- last name field -->
                <div class="col-md-4">
                  <label for="lname" class="form-label">Last name</label>
                  <input type="text" class="form-control shadow-none" id="lname" name="lname" required>
                </div>
                <!-- grand father name field -->
                <div class="col-md-4">
                  <label for="gfname" class="form-label">Grand Father Name</label>
                    <input type="text" class="form-control shadow-none" id="gfname" name="gfname" required>
                </div>
                <!-- age field -->
                <div class="col-md-4">
                  <label for="age" class="form-label">Age</label>
                  <input type="number" class="form-control shadow-none" id="age" name="age" required>
                </div>
                <!-- sex field -->
                <div class="col-md-4">
                    
                        <label for="gender" class="form-label">Sex</label>
                        <select class="custom-select shadow-none" id="gender" name="gender" required>
                          <option value="female" >Female</option>
                          <option value="male">Male</option>
                          
                        </select>
                </div>
                <!-- email field -->
                <div class="col-md-4">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control shadow-none" id="email" name="email">
                </div>
             <!-- phone field -->
                <div class="col-md-4">
                    <label for="phone" class="form-label">Phone No.</label>
                    <input type="tel" class="form-control shadow-none" id="phone" name="phone">
                  </div>
                <!-- region field -->
                  <div class="col-md-4">
                    <label for="region" class="form-label">Region</label>
                    <input type="text" class="form-control shadow-none" id="region" name="region">
                  </div>
                <!-- city field -->
                  <div class="col-md-4">
                    <label for="city" class="form-label">Woreda/SubCity</label>
                    <input type="text" class="form-control shadow-none" id="city" name="city" required>
                  </div>
              <!-- kebele field -->
                  <div class="col-md-4">
                    <label for="kebele" class="form-label">Kebele</label>
                    <input type="text" class="form-control shadow-none" id="kebele" name="kebele" required>
                  </div>
                   <div class="col-md-4">

                   </div>
                   <div class="col-md-4">

                   </div>
                   <div class="col-md-4 mt-5 ">
         <input type="submit"  value="Add Client" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="reset"  value="Reset" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> 
                   </div>
            </form>
              <!-- form ends here-->
        {{!-- </div> --}}
    </div>
  </div>
{{> footer}}
</div>
  