<div class="page">
    {{> header}}
    {{> delivery-sidebar}}
    <div class="content" style="padding-top:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
        <div class="container-fluid p-5 my-5">
           <h1>Anc History</h1>
        </div>
    </div>
</div>