<div class="page">
    {{> admin-sidebar}}
    {{> header}}
<div class="content" style="padding-top:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;"> 
 <div class="container-fluid p-5 mt-2">
    <h1> Add Users</h1>
    <div class="row">
          {{#if message }}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{message}}!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
    {{/if}}
    {{!-- existInfo --}}
      {{#if existInfo }}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{existInfo}}!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
    {{/if}}
  <form id="form" class="row g-3" action="/addUser" method="POST">
    <div class="col-md-4">
       <div class="input-control">
      <label for="uid" class="form-label">User Id</label>
      <input type="text" class="form-control shadow-none" id="uid" name="uid" required />
    </div>
    </div>
    <div class="col-md-4">
      <label for="fname" class="form-label">First name</label>
      <input type="text" class="form-control shadow-none" id="fname" name="fname" required/>
    </div>
    <div class="col-md-4">
      <label for="lname" class="form-label">Last name</label>
      <input type="text" class="form-control shadow-none" id="lname" name="lname" required/>
    </div>
    <div class="col-md-4">
      <label for="uname" class="form-label">Username</label>
      <input type="text" class="form-control shadow-none" id="uname" name="uname" required/>
    </div>

    <div class="col-md-4">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control shadow-none" id="city" name="city" required />
    </div>
    <div class="col-md-4">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control shadow-none" id="age" name="age" required />
    </div>
    <div class="col-md-4">             
   <label for="gender" class="form-label">Sex</label>
   <select class="custom-select shadow-none" id="gender" name="gender" required>
    <option value="female">Female</option>
    <option value="male">Male</option> 
   </select>
    </div>
    <div class="col-md-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control shadow-none" id="email" name="email" />
    </div>

    <div class="col-md-4">
      <label for="phone" class="form-label">Phone No.</label>
      <input type="tel" class="form-control shadow-none" id="phone" name="phone" />
    </div>

    <div class="col-md-4">
      <label for="password" class="form-label">password</label>
      <input type="password" class="form-control shadow-none" id="password" name="password" />
    </div>

    <div class="col-md-4">
      <label for="department" class="form-label">Department</label>
      <input type="text" class="form-control shadow-none" id="department" name="department"/>
    </div>
    <div class="col-md-4">
      <label for="specialization" class="form-label">Specialization</label>
      <input type="text" class="form-control shadow-none" id="specialization" name="specialization"/>
    </div>
    <div class="col-md-4">
      <label for="role" class="form-label">Role</label>
      <select class="custom-select shadow-none" id="role" name="role" required>
        <option value="doctor">Doctor</option>
        <option value="midwife">Midwife</option>
        <option value="receptionist">Receptionist</option>
        <option value="laboratory">laboratory</option>
        <option value="radiology">Radiologist</option>
        <option value="pharmacist">Pharmacist</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
   <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4 mt-5 ">
         <input type="submit"  value="Add User" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="reset"  value="Reset" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> 
                   </div>
  </form>
</div>
</div> 
  
{{> footer}}
</div>