<div class="page">
    {{> header}}
    {{> delivery-sidebar}}
    <div class="content" style="padding-top:10px ; font-size: medium; font-family: 'Times New Roman', Times, serif;">
       {{> anc-partial}}
    </div>
</div>
 {{> footer}}