<div class="page">
    {{> header}}
    {{> delivery-sidebar}}
    <div class="content" style="padding-top:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
        <div class="container-fluid p-5 my-5">
            <form action="/addDelivery" method="post">
            <div class="row">           
            <div class="col">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th colspan="10">DELIVERY SUMMARY</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <td>MRN</td>
                            <td><input class="form-control shadow-none" type="text" name="mrn" id="mrn"></td>
                        </tr>
                        <tr>
                            <td>User ID</td>
                            <td><input class="form-control shadow-none" type="text" name="user_id" id="user_id"></td>
                        </tr>
                       
                        {{!-- <tr>
                             <td>Anc Id</td>
                                    <td><input class="form-control shadow-none" type="text" name="anc_no" id="anc_no"></td>
                        </tr> --}}
                        <tr>
                            <td>Date</td>
                            <td><input class="form-control shadow-none" name="date" id="date" type="date"></td>
                        </tr>
                        <tr>
                            <td><label for="gender" class="form-label">Partograph Used </label></td>
                            <td>
                                {{!-- Yes
                                <input type="radio" name="partograph" id="partograph" value="1">
                                No
                                <input type="radio" name="partograph" id="partograph" value="0"> --}}

                      
                        <select class="custom-select shadow-none" id="partograph" name="partograph" required>
                          <option value="1" >Yes</option>
                          <option value="0">No</option>
                          
                        </select>

                            </td>

                        </tr>
                        <tr>
                            <td>Mode of Delivery</td>
                            <td>
                                <select class="custom-select shadow-none" name="mode_of_delivery" id="mode_of_delivery">
                                    <option value="Ceserean section">C/Section</option>
                                    <option value="Forceps">Forceps</option>
                                    <option value="Episiotomy">Episiotomy</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>AMTSL</td>
                            <td>
                                <select class="custom-select shadow-none" name="amtsl" id="amtsl">
                                    <option value="Ergometrne">Ergometrne</option>
                                    <option value="Oxytocine">Oxytocine</option>
                                    <option value="Misoprosol">Misoprosol</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Placenta</td>
                            <td>
                                <select class="custom-select shadow-none" name="placenta" id="placenta">
                                    <option value="Completed">Completed</option>
                                    <option value="Incompleted">Incompleted</option>
                                    <option value="CCT">CCT</option>
                                    <option value="MRP">MRP</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Maternal Status</td>
                            <td>
                                <select class="custom-select shadow-none" name="maternal_status" id="maternal_status">
                                    <option value="Stable">Stable</option>
                                    <option value="Unstable">Unstable</option>
                                    <option value="Died">Died</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th colspan="6">OBSTERIC COMPLICATIONS DURING INTRAPARTUM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pre-eclampisa</td>
                            <td><input class="form-check-input" type="checkbox" name="pre_eclampisa" value="1"></td>
                        </tr>
                        <tr>
                            <td>Eclampisa</td>
                            <td><input class="form-check-input" type="checkbox" name="eclampisa" value="1"></td>
                        </tr>
                        <tr>
                            <td>APH</td>
                            <td><input class="form-check-input" type="checkbox" name="aph" value="1"></td>
                        </tr>
                        <tr>
                            <td>PPH</td>
                            <td><input class="form-check-input" type="checkbox" name="pph" value="1"></td>
                        </tr>
                        <tr>
                            <td>Referred</td>
                            <td><input class="form-check-input" type="checkbox" name="referred" value="1"></td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td><input class="form-check-input" type="checkbox" name="others" value="1"></td>
                        </tr>
                        <tr>
                            <td>After Birth</td>
                            <td>
                                <select class="custom-select shadow-none" name="after_birth">
                                    <option value="Normal">Normal</option>
                                    <option value="Bleeding">Bleeding</option>
                                </select>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>Presentation</td>
                            <td>
                                <select class="custom-select shadow-none" name="presentation">
                                    <option value="Cephalic">Cephalic</option>
                                    <option value="Breath">Breath</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Delivery Duration</td>
                            <td>
                                <select class="custom-select shadow-none" name="delivery_duration">
                                    <option value="< 6hr"> &lt;6hr </option>
                                    <option value="6 ~ 12hr">6 ~ 12hr</option>
                                    <option value="12 ~ 24hr">12 ~ 24hr</option>
                                    <option value="> 24hr"> &gt;24hr </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm">
            </div>
            
        </div>
        </form>
        </div>
    </div>
</div>

{{> footer }}