<div class="page">
    {{> header}}
    {{> sidebar}}
    <div class="content" style="padding-top:100px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
        <div class="container-fluid">
            <div class="row">
            <div class="col">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th colspan="10">DELIVERY SUMMARY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User ID</td>
                            <td><input class="form-control shadow-none" type="text" name="user_id" id="user_id"></td>
                        </tr>
                        <tr>
                            <td>MRN</td>
                            <td><input class="form-control shadow-none" type="text" name="mrn" id="mrn"></td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><input class="form-control shadow-none" name="date" id="date" type="date"></td>
                        </tr>
                        <tr>
                            <td>Partograph Used</td>
                            <td>
                                Yes
                                <input type="radio" name="heart_abn" id="heart_abn">
                                No
                                <input type="radio" name="heart_abn" id="heart_abn">
                            </td>

                        </tr>
                        <tr>
                            <td>Mode of Delivery</td>
                            <td>
                                <select class="custom-select shadow-none" name="mode_of_delivery" id="mode_of_delivery">
                                    <option selected>C/Section</option>
                                    <option value="2">Vacuum/Forceps</option>
                                    <option value="3">Episiotomy</option>
                                    <option value="4">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>AMTSL</td>
                            <td>
                                <select class="custom-select shadow-none" name="amtsl" id="amtsl">
                                    <option selected>Ergometrne</option>
                                    <option value="2">Oxytocine</option>
                                    <option value="3">Misoprosol</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Placenta</td>
                            <td>
                                <select class="custom-select shadow-none" name="placenta" id="placenta">
                                    <option selected>Completed</option>
                                    <option value="2">Incompleted</option>
                                    <option value="3">CCT</option>
                                    <option value="4">MRP</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Maternal Status</td>
                            <td>
                                <select class="custom-select shadow-none" name="maternal_status" id="maternal_status">
                                    <option selected>Stable</option>
                                    <option value="2">Unstable</option>
                                    <option value="3">Died</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th colspan="6">OBSTERIC COMPLICATIONS DURING INTRAPARTUM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pre-eclampisa</td>
                            <td><input class="form-check-input" type="checkbox" name="pre-eclampisa"></td>
                            <td>Eclampisa</td>
                            <td><input class="form-check-input" type="checkbox" name="eclampisa"></td>
                        </tr>
                        <tr>
                            <td>APH</td>
                            <td><input class="form-check-input" type="checkbox" name="aph"></td>
                            <td>PPH</td>
                            <td><input class="form-check-input" type="checkbox" name="pph"></td>
                        </tr>
                        <tr>
                            <td>Referred</td>
                            <td><input class="form-check-input" type="checkbox" name="referred"></td>
                            <td>Others</td>
                            <td><input class="form-check-input" type="checkbox" name="others"></td>
                        </tr>
                        <tr>
                            <td>After Birth</td>
                            <td>
                                <select class="custom-select shadow-none" name="after_birth">
                                    <option selected>Normal</option>
                                    <option>Bleeding</option>
                                </select>
                            </td>
                            </td>
                        </tr>
                        <tr>
                            <td>Presentation</td>
                            <td>
                                <select class="custom-select shadow-none" name="presentation">
                                    <option selected>Cephalic</option>
                                    <option>Breath</option>
                                    <option>Others</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Delivery Duration</td>
                            <td>
                                <select class="custom-select shadow-none" name="delivery_duration">
                                    <option selected> &lt;6hr </option>
                                    <option>6 ~ 12hr</option>
                                    <option>12 ~ 24hr</option>
                                    <option> &gt;24hr </option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

{{> footer }}