
   {{> header}}

<div class="container-fluid p-5">
   <img src="/image/doctor.jpg" alt="image not found" height="100%" width="100%">

     <section id="services">
      <div class="container-fluid">
         <div class="title">
            <h1>Services</h1>
            <p>laboratory, X-ray and diagnostic procedures, and interpretation</p>
        <div class="row">
         <div class="col-4">
            <div class="card text-center">
                <i class="fas fa-capsules"></i>
               <div class="card-body">
                  <h5 class="card-title">Title One</h5>
                  <p class="card-text">
                     Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                  </p>
                  <a href="#">More</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card text-center">
              <i class="fas fa-capsules"></i>
               <div class="card-body">
                  <h5 class="card-title">Title One</h5>
                  <p class="card-text">
                     Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                  </p>
                  <a href="#">More</a>
               </div>
            </div>
         </div>

         <div class="col-4">
            <div class="card text-center">
              <i class="fas fa-capsules"></i>
               <div class="card-body">
                  <h5 class="card-title">Title One</h5>
                  <p class="card-text">
                     Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
                  </p>
                  <a href="#">More</a>
               </div>
            </div>
         </div>
        </div>

         </div>
      </div>

     </section>
</div>
{{> footer}}