<div class="page">
    {{> sidebar}}
    {{> header}}
    <div class="content" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;"> 
            <div class="container-fluid p-5 m-2">
             <div class="col-2"></div>
             <div class="col-8">
                <h1 class="p-2">Lab Result</h1>

                {{#each result}}
                  <p>Medical Record Number: {{MRN}}</p>
                  <p>User Id:{{UserId}}</p>
                  <p>Date of Exam: {{DateOfExam}}</p>
                  {{ else}}
                  <p>No data is available</p>
                {{/each}}
                </div>
                <div class="col-2"></div>


             </div>
      </div>

      </div>