   {{> header}}
   <div class="page">
     {{> sidebar}}
<div class="content" style="padding-top:50px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid p-5 mt-2">
        <div class="row">
            <div class="col-md-12">
           <div class="col-md-4"></div>
       <form id="form"  action="/addMessage" method="POST">
        <h1 class="p-2">Messaging</h1>
        
    {{> info}}
      <div class="col-md-4">
      <label for="role" class="form-label">Message Type</label>
      <select class="custom-select shadow-none" id="message_type" name="message_type" required>
        <option value="ANC">ANC</option>
        <option value="Delivery">Delivery</option>
        <option value="PNC">PNC</option>
      </select>
      </div>

       <div class="col-md-4">
         <label for="fullName" class="form-label">Full name</label>
        <input type="text" class="form-control shadow-none" id="fullName" name="fullName" required>
        </div>
                  <!-- mrn field -->
                  <div class="col-md-4">
                    <label for="mrn" class="form-label">Medical Record Number</label>
                    <input type="text" class="form-control shadow-none" id="mrn" name="mrn">
                 
                  </div>
                 <!-- registration date field -->
                  <div class="col-md-4">
                    <label for="date_of_reg" class="form-label">Date of Registration</label>
                    <input type="date" class="form-control shadow-none" id="date_of_reg" name="date_of_reg" required>
                 
                  </div>
                  <div class="col-md-4 mt-5">
                     <input type="submit"  value="SendMessage" class="btn btn-outline-primary btn-sm" style="margin: auto ;"> 
                  </div>
                  
                <div class="col-md-4"></div>
            </form>
            </div>
        </div>            
    </div>        
</div>
 </div>

   {{> footer}}
  