<!-- ################# Slider Starts Here#######################--->

       <!--***************************** Slider Starts Here *****************************-->
<div class="slider container-fluid">
  <ul id="slider">
    <li data-active="1" data-background="assets/images/slider/slider_1.jpg">
      <div class="slider-layer">
        <div class="container">
          <h1 class="animated fadeInRightBig">Felege Hiwot Comprehensive Referal
            Hospital<br />
            Maternitiy Ward</h1>
          <p class="animated fadeInLeftBig">Therefore do not be anxious about
            tomorrow, for tomorrow will be anxious for itself.<br />
            Sufficient for the day is its own trouble.</p>
          <span class="animated fadeInLeftBig">Matthew 6:34</span>
          <!-- <div class="animated fadeInUpBig buttn-row">
							<div class="btn">Read more</div>
							<div class="btn">Donate Now</div>
						</div> -->
        </div>
      </div>

    </li>
    <li data-active="0" data-background="assets/images/slider/slider_1.jpg">
      <div class="slider-layer">
        <div class="container">
          <h1 class="animated slideInDown">You are in the Right Place
            <br />
            at the Right Time</h1>
          <p class="animated zoomInLeft">Therefore do not be anxious about
            tomorrow, for tomorrow will be anxious for itself.<br />
            Sufficient for the day is its own trouble.</p>
          <span class="animated slideInUp">Matthew 6:34</span>
          <!-- <div class="buttn-row animated  zoomInLeft">
							<div class="btn">Read more</div>
							<div class="btn">Donate Now</div>
						</div> -->
        </div>
      </div>
    </li>

  </ul>
</div>
<!--########## Slider Ends Here ##########-->
 <!-- ################# Key Features Starts Here#######################--->

    <section id="services" class="key-features">
        <div class="container">
            <div class="inner-title">

                <h2>Our Key Features</h2>
                <p>Take a look at some of our key features</p>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-hospital-alt"></i>
                        <h5>Newest Technologies</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-user-md"></i>
                        <h5>Experianced Doctors</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-briefcase-medical"></i>
                        <h5>High Customer Satisfaction</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-capsules"></i>
                        <h5>Pharma Pipeline</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="fas fa-prescription-bottle-alt"></i>
                        <h5>Pharma Team</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <div class="single-key">
                        <i class="far fa-thumbs-up"></i>
                        <h5>High Quality treatments</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
                    </div>
                </div>
            </div>

        </div>

    </section>