<div class="page">
    {{> header}}
    {{> pnc-sidebar}}
    <div class="content" style="padding-top:50px ; font-family: 'Times New Roman', Times, serif;">
      <div class="container-fluid p-5 mt-2" style="min-height: 520px;">
          <h1 class="p-2" style="text-align: center ; color: rgb(41, 197, 158);">Lab request Form</h1>
          {{> info}}
            
       <form id="form"  action="/pncToLab" method="POST">
      {{> lab-request }}
         </form>                      
    </div>
     {{> footer }}
    {{> copy}} 
    </div>
</div>
