<div class="page">
   {{> sidebar}}
    {{> header}}
    <div class="content" style="padding:10px 0 ; font-size: small; font-family: 'Times New Roman', Times, serif;">   
        <div class="container-fluid p-5 m-2">
             <form action="/preventiveCare" method="post">
         <div class="col-9">      
            <h1 class="p-2">Preventive Care</h1>
              {{#if message }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{message}}!</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
              {{/if}}
                <div class="row">
                    <div class="col">
                        <label for="mrn" class="form-label">Medical Record Number</label>
                        <input type="text" class="form-control shadow-none" id="mrn" name="mrn" required>
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th colspan="2">GENERAL EXAM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pallor</td>
                                    <td><select class="custom-select shadow-none" name="pallor" id="pallor">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jaundice</td>
                                    <td><select class="custom-select shadow-none" name="jaundice" id="pallor">   
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chest Abn.</td>
                                    <td><select class="custom-select shadow-none" name="chest_abn" id="chest_abn">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Heart Abn.</td>
                                    <td><select class="custom-select shadow-none" name="heart_abn" id="heart_abn">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HIV Test Performed</td>
                                    <td><select class="custom-select shadow-none" id="hiv_test_performed" name="hiv_test_performed">                                   
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HIV Test Result</td>
                                    <td><select class="custom-select shadow-none" name="hiv_test_result" id="hiv_test_result">
                                            <option value="0">Negative</option>
                                            <option value="1">Positive</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <label for="userId" class="form-label">User Id</label>
                        <input type="text" class="form-control shadow-none" id="userId" name="userId" required>
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th colspan="2">GYN EXAM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vulvar Ulcer</td>
                                    <td><select class="custom-select shadow-none" name="vulvar_ulcer" id="vulvar_ulcer">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Vaginal Discharge</td>
                                    <td><select class="custom-select shadow-none" name="vaginal_discharge" id="vaginal_discharge">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pelvic Mass</td>
                                    <td><select class="custom-select shadow-none" name="pelvic_mass">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Danger Signs Advised</td>
                                    <td><select class="custom-select shadow-none" name="danger_signs" id="danger_signs">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Birth Preparedness Advised</td>
                                    <td><select class="custom-select shadow-none" name="birth_preparedness" id="birth_preparedness" >
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 

                </div>
                
         </div>
          <div class="d-flex m-4 gap-3" style="margin: auto ;">
            <button type="submit" class="btn btn-outline-primary btn-sm" >Submit</button> &nbsp; &nbsp; &nbsp;
            <button type="reset" class="btn btn-outline-primary btn-sm" >Reset</button>
        </div>

            </form>
        </div>
       
    </div>
    
    {{> footer}}
</div>