<div class="page">
    {{> sidebar}}
    {{> header}}
    <div class="content">
        <div class="col-9">
            <h3 class="p-2">Prevantive Care</h3>
            <div class="container p-4 m-2">
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th colspan="10">GENERAL EXAM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pallor</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jaundice</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chest Abn.</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Heart Abn.</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HIV Test Performed</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="0" selected>-Ve</option>
                                            <option value="1">+Ve</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HIV Test Result</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th colspan="10">GYN EXAM</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vulvar Ulcer</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Vaginal Discharge</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pelvic Mass</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cervical Lesion</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Danger Signs Advised</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Birth Preparedness Advised</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                            <option value="null" selected>Choose one</option>
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex m-4 gap-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </div>
    {{> footer}}
</div>