   
   {{> header}}
   <section id="services" class="key-features">
      <div class="container">
         <div class="inner-title">
   
            <h2  style="margin-top: 50px;">Services At FHCSH</h2>
         </div>
   
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-hospital-alt"></i>
                  <h5>Short-term hospitalization</h5>
                  <p>best for clients who are at immediate risk of harming themselves or others or who are experiencing severe psychosis.</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-user-md"></i>
                  <h5>Emergency room services</h5>
                  
                    <p>Better treatment for critically ill patients and to prevent cardiac arrest in patients presenting with signs of physiological instability.
                      </p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-briefcase-medical"></i>
                  <h5>Specialty surgical services</h5>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               <p>OB/GYN, ophthalmology, ENT, surgery (cardiothoracic, colorectal, general, neurologic, orthopaedic, plastic, urology).</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-capsules"></i>
                  <h5>X-ray/radiology services</h5>
                 
                 <p>X-ray, magnetic resonance imaging (MRI) services, computed tomography (CT) scans, ultrasound services,</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-prescription-bottle-alt"></i>
                  <h5>Laboratory services</h5>
                 <p>Chemistry, Hematology, Microbiology, Surgical Pathology, Cytology ....</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>Blood services</h5>
                  <p>donated blood, or blood products, are safe before they are used in blood transfusions and other medical procedures</p>
               </div>
            </div>

           <div class="col-md-4 col-sm-6">
               <div class="single-key">
                   <i class="fas fa-briefcase-medical"></i>
                  <h5>Pediatric specialty care</h5>
                  <p>specialty care to meet your child’s needs, including: Allergy and Immunology, Genetics and metabolism</p>
               </div>
            </div>

          <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>Nutritional counseling</h5>
                  <p>we carefully evaluates your eating habits to develop a plan that helps you make positive, lasting changes and accomplish steady weight loss.</p>
               </div>
            </div>

       <div class="col-md-4 col-sm-6">
               <div class="single-key">
                   <i class="fas fa-user-md"></i>
                  <h5>Mental health care</h5>
                  <p>includes our emotional, psychological, and social well-being. It affects how we think, feel, and act.</p>
               </div>
            </div>
         
         <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>Family support services</h5>
                  <p>we provide community-based services that assist and support parents in their role as caregivers.</p>
               </div>
            </div>

           <div class="col-md-4 col-sm-6">
               <div class="single-key">
                   <i class="fas fa-user-md"></i>
                  <h5>Genetic counseling  services</h5>
                  <p>identify genetic risks, explain appropriate genetic testing options, discuss the implications of test results, and help patients make thoughtful genetic health care decisions.</p>
               </div>
            </div>
         
         <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>Physical therapy and rehabilitation services</h5>
                  <p> we provide treatment for any health problem that affects your nerves, muscles, bones, or brain and is causing you temporary or permanent disability. </p>
               </div>
            </div>

             <div class="col-md-4 col-sm-6">
               <div class="single-key">
                   <i class="fas fa-user-md"></i>
                  <h5>Prescription services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-capsules"></i>
                  <h5>Dental services</h5>
                  <p>Professional teeth cleaning · gum disease ; Dental fissure sealants. Sealants ; Dental fillings. Dental fillings ; Root canal ...</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>Hospice care</h5>
                  <p>we provide special kind of care that focuses on the quality of life for people who are experiencing an advanced, life-limiting illness ...</p>
               </div>
            </div>

         </div>
   
      {{!-- </div> --}}
   
   </section>

   {{> footer}}
   {{> copy}} 