   
   {{> header}}
   <section id="services" class="key-features">
      <div class="container">
         <div class="inner-title">
   
            <h2  style="margin-top: 50px;">Our Key Features</h2>
         </div>
   
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-hospital-alt"></i>
                  <h5>Newest Technologies</h5>
                  <p>Latest delivery equipments, good surgery specialist with latest equipment!, best data recording methods (EMR)</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-user-md"></i>
                  <h5>Experianced Doctors</h5>
                  
                    <p>Experience in diagnosing the disease and providing best medical help. Experts in surgery of trauma patient.
                      </p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-briefcase-medical"></i>
                  <h5>High Customer Satisfaction</h5>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               <p>simple processes, accept feedbacks, Take required actions based on feedback, Following up with the patients</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-capsules"></i>
                  <h5>Pharma Pipeline</h5>
                 
                 <p>New products added every month, All therapy areas, Biosimilars, GMP approved factories, CTD dossiers</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-prescription-bottle-alt"></i>
                  <h5>Pharma Team</h5>
                 <p>Effective teams provide a positive experience for and meet the needs of individual members.</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>High Quality treatments</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>
         </div>
   
      {{!-- </div> --}}
   
   </section>

   {{> footer}}
   {{> copy}} 