   
   {{> header}}
   <section id="services" class="key-features">
      <div class="container">
         <div class="inner-title">
   
            <h2  style="margin-top: 50px;">Services At FHCSH</h2>
         </div>
   
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-hospital-alt"></i>
                  <h5>short-term hospitalization</h5>
                  <p>best for clients who are at immediate risk of harming themselves or others or who are experiencing severe psychosis.</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-user-md"></i>
                  <h5>emergency room services</h5>
                  
                    <p>Better treatment for critically ill patients and to prevent cardiac arrest in patients presenting with signs of physiological instability.
                      </p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-briefcase-medical"></i>
                  <h5>specialty surgical services</h5>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               <p>OB/GYN, ophthalmology, ENT, surgery (cardiothoracic, colorectal, general, neurologic, orthopaedic, plastic, urology).</p>
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-capsules"></i>
                  <h5>x ray/radiology services</h5>
                 
                 <p>X-ray, magnetic resonance imaging (MRI) services, computed tomography (CT) scans, ultrasound services,</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="fas fa-prescription-bottle-alt"></i>
                  <h5>laboratory services</h5>
                 <p>Effective teams provide a positive experience for and meet the needs of individual members.</p>
                  {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p> --}}
               </div>
            </div>
   
   
            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>blood services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

           <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>pediatric specialty care</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

          <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>nutritional counseling</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>


       <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>mental health care</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>
         
         <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>family support services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

           <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>genetic counseling  services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>
         
         <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-briefcase-medical"></i>
                  <h5>physical therapy and rehabilitation services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

             <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>prescription services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>dental services</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

            <div class="col-md-4 col-sm-6">
               <div class="single-key">
                  <i class="far fa-thumbs-up"></i>
                  <h5>hospice care</h5>
                  <p>effective, safe, patient-centered, timely, efficient, equitable, and delivered by professionals.</p>
               </div>
            </div>

         </div>
   
      {{!-- </div> --}}
   
   </section>

   {{> footer}}
   {{> copy}} 