 {{> header }}
 <div class="page">
    {{> sidebar}}
    <div class="content"  style="padding-top:100px ;font-family: 'Times New Roman', Times, serif;">
        <div class="container-fluid" style="min-height: 500px;">
           <h1 class="p-2" style="text-align: center ; color: rgb(41, 197, 158);">Video conference</h1>
          
           {{> info}}
        </div>
        {{> footer }}
           {{> copy }}
    </div>
 </div>

