

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control small {
    color: #ff3860;
    position: relative;
    
    visibility: hidden;
}

.input-control.error small{
    visibility: visible;
}