.container{
    background-color: rgba(224, 232, 232, 0.798);
}
.container-fluid{
    background-color: rgba(224, 232, 232, 0.798);
    padding: 0 100px 0 100px;
}
h1{
    color:brown ;
    text-align: center;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}